body {
  --btn-bg-color: #3f0f99;
  --btn-color: rgb(255 255 255 / 70%);
  --body-bg: #f6f6f6;
  padding: 0;
  margin: 2rem;
  font-size: 14px;
  font-family: 'Roboto', Arial, sans-serif;
  color: var(--text-color, #555);
  background-color: var(--body-bg, #f6f6f6);
}

.row,
header,
main,
footer {
  position: relative;
}

footer {
  display: flex;
  justify-content: space-between;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Smooch Sans', Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
  color: var(--heading-color, #333);
}

h1 > a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 3.2rem;
  font-weight: 600;
}

h2 {
  font-size: 2.4rem;
  font-weight: 600;
}

ul {
  padding: 0 0 0 1.5rem;
  list-style: circle;
}

.color-picker {
  margin: 0.5rem 0;
}

@media (min-width: 768px) {
  body {
    margin: 5rem;
  }

  .color-picker,
  label,
  p {
    margin: 0.5rem 0;
  }
}

label {
  display: block;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.mb-5 {
  margin-bottom: 3rem;
}

pre,
.code {
  font-size: 0.875em;
  word-wrap: break-word;
}

pre {
  padding: 1.5rem;
  overflow: auto;
  max-width: 100%;
  border-radius: 0.5rem;
  background-color: var(--bg-color);
  text-align: left;
  direction: ltr;
}

.code {
  color: #d63384;
}

.text-center {
  text-align: center;
}

@media (min-width: 768px) {
  .color-picker + ul {
    opacity: 0;
    transition: opacity ease 0.33s;
  }

  .col:hover .color-picker + ul {
    opacity: 1;
  }
}

.row {
  --gutter-x: 1.5rem;
  --gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  margin-top: calc(-1 * var(--gutter-y));
  margin-right: calc(-0.5 * var(--gutter-x));
  margin-left: calc(-0.5 * var(--gutter-x));
}

.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--gutter-x) * 0.5);
  padding-left: calc(var(--gutter-x) * 0.5);
  margin-top: var(--gutter-y);
}

.color-options .color-option {
  color: transparent;
}

a {
  color: var(--text-color);
}
a:hover,
a:active,
a:focus {
  color: var(--heading-color);
}

.switch {
  position: absolute;
  top: 0;
  right: 0;
}

.switch,
.add {
  width: auto !important;
  height: auto !important;
  color: var(--btn-color, #eee);
  text-decoration: none;
  cursor: pointer;
  background-color: var(--btn-bg-color, #777);
}

.add:hover,
.add:focus,
.switch:hover,
.switch:focus {
  color: #eee;
  background: #333;
}

[dir='rtl'] .switch {
  right: auto;
  left: 0;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.logo {
  width: 480px;
  max-width: 100%;
}

header {
  text-align: center;
}

@media (min-width: 992px) {
  .col {
    flex: 1 0 0%;
  }

  .col.col-lg-3 {
    width: 25%;
  }

  .col.col-lg-4 {
    width: 33.332%;
  }

  .col.col-lg-6 {
    width: 50%;
  }

  .col.col-lg-8 {
    width: 66.667%;
  }

  .col.col-lg-3,
  .col.col-lg-4,
  .col.col-lg-6,
  .col.col-lg-8 {
    flex: 0 0 auto;
  }

  .switch {
    right: 0;
  }

  [dir='rtl'] .switch {
    right: auto;
    left: 0;
  }
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}
.d-flex {
  display: flex;
}
.justify-content-between {
  justify-content: space-between;
}
.container {
  position: relative;
}

.fill-wrapper {
  position: absolute;
  inset: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.fill {
  position: absolute;
  inset: 0;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.visually-hidden {
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
.btn-toolbar {
  display: flex;
  gap: 0.2rem;
  /* justify-content: center; */
}
.btn {
  background-color: var(--bg-color);
  color: var(--text-color);
  border-radius: 3px;
  border: 1px solid var(--bg-color);
  cursor: pointer;
}

.btn:hover,
.btn:active,
.btn:focus {
  background-color: var(--color180);
  color: var(--color);
  border-color: var(--color180);
}

.btn.active {
  background-color: var(--color);
  color: var(--heading-color);
  border-color: var(--text-color);
}

.btn-toolbar.scrollable {
  max-width: 70%;
  overflow-x: auto;
}
.btn-toolbar.scrollable::-webkit-scrollbar {
  display: none;
}
